body {
  background: var(--dark-mode-main);
  margin: 0;
  font-family: 'Poppins', 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --header-green: #104547;
  --menu-blue: #BFD1E5;
  --menu-text-color: #4B5358;
  --item-background: #1C1B1F;
  --selected-green: #3DA35D;
  --selected-green-hover: #2db959;
  
  --dark-mode-main: #002021;
  --dark-mode-buttons-header: #004F52;
  --dark-mode-button-shadow: #00696D;
  --dark-mode-accent: #4CD9DF;
  --dark-mode-text: #BAFCFF;
  --dark-mode-white: #F1FFFF;

}